<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
 <div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 108px; height: 116px; left: 41px; top: 19px; position: absolute">
        <div style="width: 63px; height: 116px; left: 0px; top: 0px; position: absolute; color: black; font-size: 96px; font-family: Gill Sans Ultra Bold Condensed; font-weight: 400; word-wrap: break-word">S</div>
        <div style="width: 66px; height: 107px; left: 42px; top: 0px; position: absolute; color: black; font-size: 96px; font-family: Gill Sans Ultra Bold Condensed; font-weight: 400; word-wrap: break-word">H</div>
        <div style="width: 9.49px; height: 91px; left: 48.40px; top: 17px; position: absolute; transform: rotate(14.25deg); transform-origin: 0 0; background: white"></div>
        <div style="width: 8.15px; height: 31px; left: 38.44px; top: 65.02px; position: absolute; transform: rotate(1.05deg); transform-origin: 0 0; background: white"></div>
    </div>
    <div style="width: 108px; height: 116px; left: 41px; top: 19px; position: absolute">
        <div style="width: 63px; height: 116px; left: 0px; top: 0px; position: absolute; color: black; font-size: 96px; font-family: Gill Sans Ultra Bold Condensed; font-weight: 400; word-wrap: break-word">S</div>
        <div style="width: 66px; height: 107px; left: 42px; top: 0px; position: absolute; color: black; font-size: 96px; font-family: Gill Sans Ultra Bold Condensed; font-weight: 400; word-wrap: break-word">H</div>
        <div style="width: 9.49px; height: 91px; left: 48.40px; top: 17px; position: absolute; transform: rotate(14.25deg); transform-origin: 0 0; background: white"></div>
        <div style="width: 8.15px; height: 31px; left: 38.44px; top: 65.02px; position: absolute; transform: rotate(1.05deg); transform-origin: 0 0; background: white"></div>
    </div>
    <div style="left: 176px; top: 68px; position: absolute; color: black; font-size: 48px; font-family: Cormorant SC; font-weight: 400; word-wrap: break-word">Smart Habits</div>
    <div style="width: 1322px; height: 820px; left: 73px; top: 150px; position: absolute; background: #87C38F; border-radius: 35px"></div>
    <div style="width: 705px; height: 240px; left: 116px; top: 204px; position: absolute">
        <div style="width: 705px; height: 240px; left: 0px; top: 0px; position: absolute; background: #FCCA47; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px"></div>
        <div style="width: 650px; height: 193px; left: 28px; top: 31px; position: absolute; color: #233D4C; font-size: 36px; font-family: Fira Sans Extra Condensed; font-weight: 400; word-wrap: break-word">«Привычка — как канат. Мы вплетаем нити в него каждый день и в конечном итоге не можем разорвать его».<br/>Гораций Манн (1796-1859)</div>
    </div>
    <div style="width: 283px; height: 117px; left: 149px; top: 797px; position: absolute">
        <div style="width: 283px; height: 117px; left: 0px; top: 0px; position: absolute; background: #FE7F2E; border-radius: 20px"></div>
        <div style="width: 162px; height: 60px; left: 79px; top: 29px; position: absolute; color: white; font-size: 48px; font-family: Fira Sans Extra Condensed; font-weight: 400; word-wrap: break-word">Начать</div>
    </div>
    <img style="width: 875.62px; height: 1259.87px; left: 1830.44px; top: 1042.52px; position: absolute; transform: rotate(161.04deg); transform-origin: 0 0" src="https://via.placeholder.com/876x1260" />
    <div style="width: 761px; height: 244px; left: 133px; top: 491px; position: absolute; color: white; font-size: 96px; font-family: Fira Sans Extra Condensed; font-weight: 400; word-wrap: break-word">Измени жизнь к лучшему!</div>
    <img style="width: 281px; height: 315px; left: 593px; top: 613px; position: absolute" src="https://via.placeholder.com/281x315" />
    <div style="width: 101.70px; height: 102px; left: 843px; top: 222px; position: absolute">
        <div style="width: 13.68px; height: 102px; left: 0px; top: 43.13px; position: absolute; transform: rotate(-73.56deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 13.68px; height: 102px; left: 16.16px; top: 13px; position: absolute; transform: rotate(-34.76deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 13.68px; height: 102px; left: 97.05px; top: 28.34px; position: absolute; transform: rotate(71.51deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 13.68px; height: 102px; left: 73.86px; top: 4.97px; position: absolute; transform: rotate(34.20deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 13.68px; height: 102px; left: 44.01px; top: 0px; position: absolute; background: #F3F0BB"></div>
    </div>
    <div style="width: 56px; height: 56.16px; left: 469px; top: 784px; position: absolute">
        <div style="width: 7.53px; height: 56.16px; left: 0px; top: 23.75px; position: absolute; transform: rotate(-73.56deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 7.53px; height: 56.16px; left: 8.90px; top: 7.16px; position: absolute; transform: rotate(-34.76deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 7.53px; height: 56.16px; left: 53.44px; top: 15.61px; position: absolute; transform: rotate(71.51deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 7.53px; height: 56.16px; left: 40.67px; top: 2.74px; position: absolute; transform: rotate(34.20deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 7.53px; height: 56.16px; left: 24.23px; top: 0px; position: absolute; background: #F3F0BB"></div>
    </div>
    <div style="width: 183.46px; height: 184px; left: 913px; top: 491px; position: absolute">
        <div style="width: 24.67px; height: 184px; left: 0px; top: 77.80px; position: absolute; transform: rotate(-73.56deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 24.67px; height: 184px; left: 29.14px; top: 23.45px; position: absolute; transform: rotate(-34.76deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 24.67px; height: 184px; left: 175.07px; top: 51.13px; position: absolute; transform: rotate(71.51deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 24.67px; height: 184px; left: 133.24px; top: 8.97px; position: absolute; transform: rotate(34.20deg); transform-origin: 0 0; background: #F3F0BB"></div>
        <div style="width: 24.67px; height: 184px; left: 79.40px; top: 0px; position: absolute; background: #F3F0BB"></div>
    </div>
</div>
</body>
</html>