{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Habits</title>
    <link rel="stylesheet" href="{% static "main/index.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div class="landing-wrapper">
    <header class="landing-header">
        <img class="landing-sh-logo" src="{% static "main/logo.svg" %}" alt="">

        <div class="landing-brand-name">
            Smart Habits
        </div>
    </header>

    <div class="landing-content-wrapper">

        <main class="landing-content">

            <div class="landing-content-left">
                <p class="landing-content-quote">
                    «Привычка — как канат. Мы вплетаем нити в него каждый день и в конечном итоге не можем разорвать его».<br>
                    Гораций Манн (1796-1859)
                </p>

                <p class="landing-content-slogan">
                    Измени жизнь к лучшему!
                </p>

                <div class="landing-content-start-button-wrapper">
                    <div class="landing-content-start-wrapper">
                        <div class="landing-content-start-button">
                            <a style="outline: none;border: none;text-decoration: none;color: #FFFFFF" href="page">Начать</a>
                        </div>

                        <img class="landing-content-star" src="{% static "main/landing-star.svg" %}" alt="">
                    </div>
                    <div class="landing-content-man-wrapper">
                        <img src="{% static "main/l1anding-beautiful-gentleman.svg" %}" alt="">
                    </div>
                </div>
            </div>

            <div class="landing-content-decor">
                <img style="position: relative; top: 200px; display: flex" src="{% static "main/landing-star.svg" %}" alt="">
                <img style="position: relative; top: 500px; left: 50px; width: 140px; display: flex" src="{% static "main/landing-star.svg" %}" alt="">
            </div>

<!--            <div class="landing-content-secondstar">-->
<!--                    <img src="{% static "main/l1anding-star.svg" %}" alt="">-->
<!--            </div>-->


        </main>

    </div>

</div>
</div>




</body>
</html>
